body
{
	background: url("https://cdn2.hubspot.net/hubfs/202339/canvas/images/parallax/Website-Design-Background.png");
    font-size:1.25em;
    text-align: justify;

}
.tittle1
{
	color: #03fc77;
}
.table
{
	color: #fcba03;
}